body {
    background-color: grey;
    text-align: center;
}

#title{
    margin-top: 75px;
    color: white;
}

#content {
    height: 450px;
    width: 50%;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 50px;
}

.cell {
    width: 33%;
    height: 150px;
    float: left;
    background-repeat: round;
    border: 1px solid white;
}

.cell:hover {
    background-color: rgb(195, 195, 195);
}

#resetbtn {
    font-size: 20px;
}